{
  "API_KEY": "get it at support@zkcloudworker.com",
  "TEST_ACCOUNTS": [
    {
      "privateKey": "EKE...",
      "publicKey": "B62..."
    },
    {
      "privateKey": "EKE...",
      "publicKey": "B62..."
    },
    {
      "privateKey": "EKE...",
      "publicKey": "B62..."
    },
    {
      "privateKey": "EKE...",
      "publicKey": "B62..."
    }
  ]
}
