openapi: 3.0.0
info:
  title: MinaTokens API
  description: API for interacting with Mina Fungible Tokens and NFTs.
  version: 0.1.0
servers:
  - url: https://minatokens.com/api/v1/
    description: devnet
  - url: https://zekotokens.com/api/v1/
    description: zeko
tags:
  - name: Fungible Token
    description: Fungible Tokens Endpoints
  - name: NFT
    description: NFT Endpoints
  - name: Transaction
    description: Transaction Endpoints
paths:
  /info:
    post:
      tags:
        - Fungible Token
      summary: Get Token Info
      description: Retrieves detailed information about a Mina Fungible Token.
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: "API key for authorization. Contact support@zkcloudworker.com to get your API key"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tokenAddress:
                  type: string
                  example: B62qpFzLKkGKMZcmY6wrbyn8Sf9sWUT1HG4omSbvFKH2nXSNjCoQ6Xs
                  description: The address of the token contract
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenState"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "500":
          description: Server error
  /nft:
    post:
      tags:
        - NFT
      summary: Retrieve an NFT info
      description: Retrieves detailed information about a MinaNFT.
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: "API key for authorization. Contact support@zkcloudworker.com to get your API key"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NFTRequestParams"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFTRequestAnswer"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "500":
          description: Server error
  /deploy:
    post:
      tags:
        - Transaction
      summary: Build Deploy Token Transaction
      description: Builds a deploy token transaction for a new token.
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: "API key for authorization."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeployTokenParams"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeployTransaction"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "500":
          description: Server error
  /transaction:
    post:
      tags:
        - Transaction
      summary: Build Token Transaction
      description: Builds a token transaction (transfer or mint).
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: "API key for authorization."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionTokenParams"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTransaction"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "500":
          description: Server error
  /prove:
    post:
      tags:
        - Transaction
      summary: Prove Token Transaction
      description: Proves a token transaction and optionally sends it to the network.
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: "API key for authorization."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProveTokenTransaction"
      responses:
        "200":
          description: Job submitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobId"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "500":
          description: Server error
  /result:
    post:
      tags:
        - Transaction
      summary: Get Proving Job Result
      description: Retrieves the result of a proving job.
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: "API key for authorization."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobId"
      responses:
        "200":
          description: Job result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResult"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "500":
          description: Server error
  /faucet:
    post:
      tags:
        - Transaction
      summary: Request Funds from Faucet
      description: Requests funds from the faucet for testing purposes.
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: "API key for authorization."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FaucetParams"
      responses:
        "200":
          description: Faucet response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FaucetResponse"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "500":
          description: Server error
  /tx-status:
    post:
      tags:
        - Transaction
      summary: Get Transaction Status
      description: Retrieves the status of a transaction by hash.
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: "API key for authorization."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionStatusParams"
      responses:
        "200":
          description: Transaction status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionStatus"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "500":
          description: Server error
components:
  schemas:
    TokenState:
      type: object
      properties:
        tokenAddress:
          type: string
          example: B62qpFzLKkGKMZcmY6wrbyn8Sf9sWUT1HG4omSbvFKH2nXSNjCoQ6Xs
        tokenId:
          type: string
          example: weDBAqEmqEHE9TXay9DryEMaNs8ts7Qt4X5Rupnxmh8o6wBgwS
        adminContractAddress:
          type: string
          example: B62qjpFSUnwHsYX1KuEfDHjPyg6AuWotyfRApGgpoj6bybvjjAriKHe
        adminAddress:
          type: string
          example: B62qo69VLUPMXEC6AFWRgjdTEGsA3xKvqeU5CgYm3jAbBJL7dTvaQkv
        adminTokenBalance:
          type: number
          example: 0
        totalSupply:
          type: number
          example: 15000
        isPaused:
          type: boolean
          example: false
        decimals:
          type: number
          example: 9
        tokenSymbol:
          type: string
          example: POKRPC
        verificationKeyHash:
          type: string
          example: "25084457276132306637089336910977939820654927814172888515895248592725736067489"
        uri:
          type: string
          example: https://arweave.net/vPYTrGj3tt4CiyN311nnBCQvr_FE927uxfFg5VyxCLU
        version:
          type: number
          example: 0
        adminTokenSymbol:
          type: string
          example: ""
        adminUri:
          type: string
          example: https://arweave.net/vPYTrGj3tt4CiyN311nnBCQvr_FE927uxfFg5VyxCLU
        adminVerificationKeyHash:
          type: string
          example: "1200635497217107248831982322269320244173535715339356861513501242012238077174"
        adminVersion:
          type: number
          example: 0
    NFTRequestParams:
      type: object
      properties:
        contractAddress:
          type: string
          example: B62qs2NthDuxAT94tTFg6MtuaP1gaBxTZyNv9D3uQiQciy1VsaimNFT
          description: Always set to this contract address for Mina NFTs.
        nftAddress:
          type: string
          example: B62qoT6jXebkJVmsUmxCxGJmvHJUXPNF417rms4PATi5R6Hw7e56CRt
          description: The unique NFT address.
      required:
        - contractAddress
        - nftAddress
    NFTRequestAnswer:
      type: object
      properties:
        contractAddress:
          type: string
          example: B62qs2NthDuxAT94tTFg6MtuaP1gaBxTZyNv9D3uQiQciy1VsaimNFT
        nftAddress:
          type: string
          example: B62qoT6jXebkJVmsUmxCxGJmvHJUXPNF417rms4PATi5R6Hw7e56CRt
        tokenId:
          type: string
          example: wXqDrUzWtK58CaWCzN2g3zseU275dhSnRtBthcroeqT6HGKkos
        tokenSymbol:
          type: string
          example: NFT
        contractUri:
          type: string
          example: https://minanft.io
        name:
          type: string
          example: Minaty 0001
        metadataRoot:
          type: object
          properties:
            data:
              type: string
            kind:
              type: string
        storage:
          type: string
          example: bafkreiffyjf6lpxw5uzniwam7lv7oyezfsxnnfj3yeo67ht3nch3gvgvwi
        owner:
          type: string
          example: B62qkX4VQYdmgc7dmLyiPpMhLRfrWjWnyoGGhdqF4bXtTcbv6E1HWsD
        price:
          type: number
          example: 0
        version:
          type: number
          example: 1
        algolia:
          type: object
          properties:
            name:
              type: string
            chain:
              type: string
            contractAddress:
              type: string
            owner:
              type: string
            price:
              type: string
            status:
              type: string
            jobId:
              type: string
            ipfs:
              type: string
            version:
              type: string
            hash:
              type: string
            collection:
              type: string
            address:
              type: string
            description:
              type: string
            image:
              type: string
            external_url:
              type: string
            time:
              type: number
            metadata:
              type: object
            properties:
              type: object
            objectID:
              type: string
        metadata:
          type: object
          properties:
            name:
              type: string
            collection:
              type: string
            address:
              type: string
            description:
              type: string
            image:
              type: string
            external_url:
              type: string
            time:
              type: number
            metadata:
              type: object
            properties:
              type: object
    DeployTokenParams:
      type: object
      properties:
        adminAddress:
          type: string
          example: B62qo69VLUPMXEC6AFWRgjdTEGsA3xKvqeU5CgYm3jAbBJL7dTvaQkv
          description: The public key of the admin
        symbol:
          type: string
          example: TEST
          description: The symbol of the token
        decimals:
          type: integer
          example: 9
          description: The number of decimals
        uri:
          type: string
          example: https://minatokens.com
          description: The URI for the token
        memo:
          type: string
          example: "Deploying TEST token"
          description: Optional memo for the transaction
      required:
        - adminAddress
        - symbol
        - decimals
        - uri
    DeployTransaction:
      type: object
      properties:
        serializedTransaction:
          type: string
        transaction:
          type: string
        tokenContractPrivateKey:
          type: string
        adminContractPrivateKey:
          type: string
        tokenAddress:
          type: string
        adminContractAddress:
          type: string
        payload:
          type: object
          properties:
            nonce:
              type: integer
            transaction:
              type: string
            onlySign:
              type: boolean
            feePayer:
              type: object
              properties:
                fee:
                  type: integer
                memo:
                  type: string
        uri:
          type: string
      required:
        - serializedTransaction
        - transaction
        - tokenContractPrivateKey
        - adminContractPrivateKey
        - tokenAddress
        - adminContractAddress
        - payload
        - uri
    TransactionTokenParams:
      type: object
      properties:
        txType:
          type: string
          enum:
            - transfer
            - mint
          example: transfer
          description: Type of transaction
        senderAddress:
          type: string
          example: B62qqyGUFDAiBtpYhy3MsorgQuR2VHSgJ8jEug2D9Px38bkGRTp8Kr5
          description: Public key of the sender
        tokenAddress:
          type: string
          example: B62qn25cKc4ipqJMCDSMENgsiFwL49vTdnsDXgWWKWFXQaY819rn848
          description: Address of the token
        adminContractAddress:
          type: string
          example: B62qjpFSUnwHsYX1KuEfDHjPyg6AuWotyfRApGgpoj6bybvjjAriKHe
          description: Address of the admin contract (required for mint)
        to:
          type: string
          example: B62qoT6jXebkJVmsUmxCxGJmvHJUXPNF417rms4PATi5R6Hw7e56CRt
          description: Recipient's public key
        amount:
          type: number
          example: 1000000000
          description: Amount to transfer or mint
        symbol:
          type: string
          example: TEST
          description: Symbol of the token
        memo:
          type: string
          example: "Test transaction"
          description: Optional memo for the transaction
      required:
        - txType
        - senderAddress
        - tokenAddress
        - to
        - amount
    TokenTransaction:
      type: object
      properties:
        serializedTransaction:
          type: string
        transaction:
          type: string
        tokenAddress:
          type: string
        adminContractAddress:
          type: string
        payload:
          type: object
          properties:
            nonce:
              type: integer
            transaction:
              type: string
            onlySign:
              type: boolean
            feePayer:
              type: object
              properties:
                fee:
                  type: integer
                memo:
                  type: string
      required:
        - serializedTransaction
        - transaction
        - tokenAddress
        - payload
    ProveTokenTransaction:
      type: object
      properties:
        txType:
          type: string
          enum:
            - deploy
            - transfer
            - mint
          example: transfer
        serializedTransaction:
          type: string
        signedData:
          type: string
        senderAddress:
          type: string
        tokenAddress:
          type: string
        adminContractAddress:
          type: string
        symbol:
          type: string
        uri:
          type: string
          nullable: true
        to:
          type: string
          nullable: true
        amount:
          type: number
          nullable: true
        sendTransaction:
          type: boolean
      required:
        - txType
        - serializedTransaction
        - signedData
        - senderAddress
        - tokenAddress
        - symbol
        - sendTransaction
    JobId:
      type: object
      properties:
        jobId:
          type: string
      required:
        - jobId
    TransactionResult:
      type: object
      properties:
        hash:
          type: string
          nullable: true
        tx:
          type: string
          nullable: true
    FaucetParams:
      type: object
      properties:
        address:
          type: string
          example: B62qqyGUFDAiBtpYhy3MsorgQuR2VHSgJ8jEug2D9Px38bkGRTp8Kr5
      required:
        - address
    FaucetResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        hash:
          type: string
          nullable: true
    TransactionStatusParams:
      type: object
      properties:
        hash:
          type: string
          example: 5JuEaWqCkiizzjA3mjrva5hjYeohiGKQFcffUdZxrEJM4xDirhK1
          description: Transaction hash
      required:
        - hash
    TransactionStatus:
      type: object
      properties:
        hash:
          type: string
          example: 5JuEaWqCkiizzjA3mjrva5hjYeohiGKQFcffUdZxrEJM4xDirhK1
        status:
          type: string
          enum:
            - pending
            - applied
            - failed
            - unknown
          example: pending
        error:
          type: string
          nullable: true
        details:
          type: object
          nullable: true
      required:
        - hash
        - status
